[Unit]
Description=Gorzdrav Telegram bot
After=syslog.target
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
User=python
Group=python
WorkingDirectory=/home/python/gorzdrav_spb_checkbot
ExecStart=/home/python/gorzdrav_spb_checkbot/.venv/bin/python3 /home/python/gorzdrav_spb_checkbot/app.py
TimeoutSec=120
RestartSec=10
Restart=always
KillMode=mixed
EnvironmentFile=/home/python/gorzdrav_spb_checkbot/.env

[Install]
WantedBy=multi-user.target
